## Working with SQLite

In [21]:
# import lbraries
import sqlite3 as sl3
from sqlite3 import Error as e
import pandas as pd

#### Creating and connection to a data base
> If the databse name does not matches any existing databse in the specified folder, it would create a new one with the name

In [23]:
#create new database connection & set auto_commit
try:
    conn = sl3.connect('./database/test.db',isolation_level=None)
    print('COnnection Successful')
    #  isolation_level=None) is used for auto-commits 
    #so we dont't have to always do conn.commit() after every transactions

    #get cursur for performing operations
    cur = conn.cursor()
    print('Cursor Gotten')
    #close connection
    conn.close()
    print('Connection CLosed')
except e:
    print(e)

COnnection Successful
Cursor Gotten
Connection CLosed

#### CREATE TABLES IN OUR NEW DATABASE & INSERT VALUES

In [24]:
try:
    # create nww connection and set isolation_level = None for auto commit
    conn = sl3.connect('./database/test.db', isolation_level = None)
    print('COnnection Successful')
    # get curso for query execution
    cur = conn.cursor()
    print('Cursor Gotten')
except e:
    print(e)

COnnection Successful
Cursor Gotten

In [105]:
try:
    cur.execute('DROP TABLE IF EXISTS customer;')
except e:
    print(e)

In [106]:
try:
    cur.execute('CREATE TABLE IF NOT EXISTS customer \
                (user_id int primary key,\
                product_id int NOT NULL,\
                name text,\
                gender text ,\
                age int,\
                city text);')
    print('Table customer created successfully')
except e:
    print(e)
# note we do not need to commit changes since we already set autocmmit with isolation_level=None

Table customer created successfully

> Insert values

In [107]:
try:
    cur.execute("INSERT INTO customer\
    (user_id, product_id, name, gender, age, city )\
    VALUES(1006, 3, 'Princess Diana', 'Female', 28, 'Amazons');")
    print("values inserted succesfully")
except e:
    print(e)

values inserted succesfully

#### multiople insertions

> 1.

In [108]:
try:
   # Execute multiple commands at once
    cur.executescript('''Insert Into CUSTOMER Values
                (1005, 3, 'Clark Kent', 'Male', 36, 'Metropolis');
                
                Insert Into CUSTOMER Values
                (1003, 4, 'Bruce Wayne', 'Male', 39, 'Gotham City');
                
                ''')    
    print("Multiole insertion successfull")
except e :
    print(e)

Multiole insertion successfull

> 2. Multiple Insertions with the Execute Many command

In [109]:
# Insert maultiple values into table at once
customers = [(1004, 2, 'John Wick', 'Male', 32, 'New York'),
         (1001, 1, 'Tony Stark', 'Male', 35, 'New York'),
         (1002, 3, 'Gordon Ramsey', 'Male', 38, 'London')]

try:
    cur.executemany("INSERT INTO customer VALUES (?,?,?,?,?,?)", customers)
    print("Multiple Insertions with exceute many function successful!")
except e:
    print(e)

Multiple Insertions with exceute many function successful!

#### FETCHING RECORDS FROM SQL TABLE
> fetchone()

> fetchall()

In [111]:
#fetch all rows fo query result
try:
    fetch = cur.execute('SELECT * FROM customer;').fetchone()
    print("Fetch Successfull")
    print(fetch)
except e:
    print(e)

Fetch Successfull
(1006, 3, 'Princess Diana', 'Female', 28, 'Amazons')

In [113]:
try:
    fetchAll =  cur.execute("SELECT * FROM customer").fetchall()
    print("Fetch Successful")
    for rows in fetchAll:
        print(rows)
except e:
    print(e)

Fetch Successful
(1006, 3, 'Princess Diana', 'Female', 28, 'Amazons')
(1005, 3, 'Clark Kent', 'Male', 36, 'Metropolis')
(1003, 4, 'Bruce Wayne', 'Male', 39, 'Gotham City')
(1004, 2, 'John Wick', 'Male', 32, 'New York')
(1001, 1, 'Tony Stark', 'Male', 35, 'New York')
(1002, 3, 'Gordon Ramsey', 'Male', 38, 'London')

In [114]:
# itereate over rows
try: 
    for row in cur.execute("SELECT * FROM customer"):
        print(row)
except e:
    print(e)

(1006, 3, 'Princess Diana', 'Female', 28, 'Amazons')
(1005, 3, 'Clark Kent', 'Male', 36, 'Metropolis')
(1003, 4, 'Bruce Wayne', 'Male', 39, 'Gotham City')
(1004, 2, 'John Wick', 'Male', 32, 'New York')
(1001, 1, 'Tony Stark', 'Male', 35, 'New York')
(1002, 3, 'Gordon Ramsey', 'Male', 38, 'London')

In [115]:
# Fetch all rows of query result which returns a list
try:
    fecthAll = cur.execute("SELECT * FROM customer").fetchall()
    print("Fetch Successful")
    print(fecthAll)
except e:
    print(e)

Fetch Successful
[(1006, 3, 'Princess Diana', 'Female', 28, 'Amazons'), (1005, 3, 'Clark Kent', 'Male', 36, 'Metropolis'), (1003, 4, 'Bruce Wayne', 'Male', 39, 'Gotham City'), (1004, 2, 'John Wick', 'Male', 32, 'New York'), (1001, 1, 'Tony Stark', 'Male', 35, 'New York'), (1002, 3, 'Gordon Ramsey', 'Male', 38, 'London')]